.ChatContainer {
  flex: 1;
  background-color: #0D1117;
  padding: 12px;
}

.ChatMessages {
  flex: 1;
  margin-bottom: 12px;
  font-size: 18px;
}

.BotBubble {
  background-color: #2C2F36;
  padding: 12px;
  border-radius: 12px;
  margin-bottom: 8px;
  align-self: flex-start;
  max-width: 75%;
  color: #F5F5F7;
}

.UserBubble {
  background-color: #00D2FF;
  padding: 12px;
  border-radius: 12px;
  margin-bottom: 8px;
  align-self: flex-end;
  max-width: 75%;
  color: #0D1117;
  font-weight: bold;
}

.ChatInputBar {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  margin: 0px 5px;
  width: 100%;
  position: relative;
}

.ChatInput {
  width: 100%;
  min-height: 40px;
  max-height: 120px;
  border-radius: 8px;
  padding: 10px 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  outline: none;
  color: #fff;
  background-color: #1A1D23;
  overflow-y: hidden;   
  line-height: 1.4;
}

.SendButton { 
  color: #00D2FF;
  font-size: 24px;     
  font-weight: bold;
  cursor: pointer;
}

