.ChatContainer {
  flex: 1;
  background-color: #0D1117;
  padding: 12px;
}

.ChatMessages {
  flex: 1;
  margin-bottom: 12px;
  font-size: 18px;
}

.BotBubble {
  background-color: #2C2F36;
  padding: 12px;
  border-radius: 12px;
  margin-bottom: 8px;
  align-self: flex-start;
  max-width: 75%;
  color: #F5F5F7;
}

.UserBubble {
  background-color: #00D2FF;
  padding: 12px;
  border-radius: 12px;
  margin-bottom: 8px;
  align-self: flex-end;
  max-width: 75%;
  color: #0D1117;
  font-weight: bold;
}

.ChatInputBar {
  display: inline-flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  margin: 0px 5px;
  background-color: #fff;
  width: 100%;
  position: relative;
}

.ChatInput {
  width: 100%;           
  height: 30px;        
  border-radius: 8px;
  padding: 0 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  outline: none;
}

.SendButton {
  margin-left: 8px;     
  color: #00D2FF;
  font-size: 24px;     
  font-weight: bold;
  cursor: pointer;
}

